<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <%- include('_layout/Resources.ejs') -%>
    <link rel='stylesheet' href='/css/Main.css'>
  </head>

  <body>
    <%- include('_layout/Navigation.ejs') -%>
    <div class="container mt-4" id="main-container">
      <div class="table-responsive">

        <table class="table table-hover" id="job-templates-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% job_templates.forEach(jt => { %>
              <tr>
                <td><%- jt.id %></td>
                <td><a href="/job_template/<%- jt.id %>"><%- jt.name %></a></td>
                <td><a href="/job_template/<%- jt.id %>/promote" class="btn btn-sm btn-success"><i class="fas fa-arrow-alt-circle-up"></i> Promote</a></td>
              </tr>
            <% }) %>
          </tbody>
        </table> <!-- job-templates-table -->
      </div> <!-- /table-responsive-->
    </div> <!-- /main-container -->
  </body>

</html>